.popup__container_form-style {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  align-items: center;
  padding: 34px 36px 37px 36px;
}

@media (max-width: 520px) {
  .popup__container_form-style {
    padding: 25px 25px;
  }
}
