.popup__input {
  margin-top: 30px;
  width: 358px;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

@media (max-width: 520px) {
  .popup__input {
    width: 238px;
  }
}

.popup__input:focus {
  outline: none;
}
