.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  box-sizing: border-box;
  padding-bottom: 37px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 425px) {
  .header {
    padding-top: 28px;
    padding-bottom: 27px;
  }
}
